# ignore the folders that are symlinked and/or usually distributed for in-person trainings
data/
QC/
index/

# ignore folders created during running of/development of module
plots/
results/

# development helper notebook for generating the NB cell line tximport object
nb_cell_line_tximport*

