# Ignore everything by default
*

# Allow module directories and specific files
!/CITATION.cff
!/gitignore.user
!/LICENSE.md
!/module_structure_detail.png
!/README.md
!/renv.lock
!/requirements.txt
!/current-modules.json
!/scripts

# module directories
!/module-cheatsheets
!/intro-to-R-tidyverse
!/machine-learning
!/pathway-analysis
!/RNA-seq
!/scRNA-seq
!/scRNA-seq-advanced

# still ignore data directories
**/data/*
