# exercise notebook htmls
RNA-seq/07-bulk_rnaseq_exercise.nb.html
intro-to-R-tidyverse/04a-intro_to_R_exercise.nb.html
intro-to-R-tidyverse/04b-intro_to_tidyverse_exercise-part-1.nb.html
intro-to-R-tidyverse/04c-intro_to_tidyverse_exercise-part-2.nb.html

#DS_Stores
.DS_Store

# mdspell files
.spelling

# RProject files
.Rdata
.Rproj.user
.Rhistory

# Snakemake files
.snakemake

# This is not a file that renv documentation recommends we track
renv/settings.dcf
