# exercise notebook htmls
RNA-seq/07-bulk_rnaseq_exercise.nb.html
intro-to-R-tidyverse/03-intro_to_r_tidyverse_exercise.nb.html
machine-learning/05-machine_learning_exercise.nb.html
scRNA-seq/04-scrnaseq_exercise.nb.html

#DS_Stores
.DS_Store

# mdspell files
.spelling

# RProject files
.Rproj.user/
.Rhistory
*.Rproj

