# ignore data files/folders that are linked or distributed separately
data/glioblastoma/preprocessed
data/tabula-muris/fastq
data/tabula-muris/fastq-raw
data/tabula-muris/normalized/TM_normalized.rds
index

# ignore notebook results files/folders
analysis
qc-reports

data/glioblastoma/filtered
data/glioblastoma/normalized

data/tabula-muris/alevin-quant
data/tabula-muris/normalized/*
!data/tabula-muris/normalized/.gitkeep

# ignore live and exercise nb.html files
*-live.nb.html
*_exercise.nb.html
