# ignore data files/folders that are linked or distributed separately
index

# ignore gene sets file linked / distributed separately
gene-sets

data/glioblastoma/preprocessed
data/hodgkins/cellranger
data/hodgkins/hs_mitochondrial_genes.tsv

data/mouse-liver

data/tabula-muris/fastq
data/tabula-muris/fastq-raw
data/tabula-muris/normalized/TM_normalized.rds
data/tabula-muris/mm_mitochondrial_genes.tsv
data/tabula-muris/mm_ensdb95_tx2gene.tsv


# ignore notebook results files/folders
analysis
qc-reports

data/glioblastoma/filtered
data/glioblastoma/normalized

data/hodgkins/normalized

data/tabula-muris/alevin-quant
data/tabula-muris/filtered
data/tabula-muris/normalized/*
!data/tabula-muris/normalized/.gitkeep

# ignore live and exercise nb.html files
*-live.nb.html
exercise*.nb.html
