# ignore data files/folders that are linked or distributed separately
data/glioblastoma/preprocessed
data/tabula-muris/fastq-raw
data/tabula-muris/normalized/TM_normalized.rds

# ignore notebook results files/folders
analysis
qc-reports

data/glioblastoma/filtered
data/glioblastoma/normalized

data/tabula-muris/alevin-quant

# ignore live nb.html files
*-live.nb.html
