# Ignore the data folder that will be symlinked on the RStudio Server or, in the
# case of workshops run on personal laptops, distributed to participants
data/

# Ignore the plots and results directories created as part of the notebooks
plots/
results/
models/

