name: Test render notebooks
# Before merging notebooks, check that they render

on:
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/render-rmds.yml"
      - "**.Rmd"
      - "!**-live.Rmd" # don't trigger for live-only changes
      - "!**/exercise*.Rmd" # or exercise notebooks
      - "!**/setup/**.Rmd" # or setup notebooks
      - "scripts/make-live.R"
      - "scripts/render-live.sh"

jobs:
  test-render:
    runs-on: ubuntu-latest

    steps:
      - name: Free disk space
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Load 1Password secrets
        uses: 1password/load-secrets-action@v2
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.TRAINING_OP_SERVICE_ACCOUNT_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.OP_TRAINING_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.OP_TRAINING_SECRET_ACCESS_KEY }}

      - name: Download data from S3
        env:
          AWS_DEFAULT_REGION: us-east-1
        run: |
          aws s3 sync s3://ccdl-training-data/training-modules/ . --no-progress

      - name: Pull latest Docker image
        run: |
          docker pull ccdl/training_rstudio:edge

      - name: Render notebooks
        run: |
          docker run --rm \
            --mount type=bind,source="$GITHUB_WORKSPACE",target=/training-modules \
            -w /training-modules \
            ccdl/training_rstudio:edge \
            bash scripts/render-live.sh
